# filter table
add table ip filter
flush table ip filter
add chain ip filter INPUT { type filter hook input priority 0; policy accept; }
add chain ip filter FORWARD { type filter hook forward priority 0; policy accept; }
add chain ip filter OUTPUT { type filter hook output priority 0; policy accept; }
add chain ip filter IN_REJ
add chain ip filter FWD_REJ
add chain ip filter OUT_REJ
{% if nftables_nat_rules is defined %}

# nat table
add table ip nat 
flush table ip nat 
add chain ip nat PREROUTING { type nat hook prerouting priority 0; policy accept; }
add chain ip nat POSTROUTING { type nat hook postrouting priority 0; policy accept; }
{% endif %}
