# interfaces
define RFC1918 = { 10.0.0.0/8, 172.16.0.0/12, 192.16.0.0/16 }
define PIFACE = {{ ansible_default_ipv4.interface }} # primary interface
define PADDR = {{ ansible_default_ipv4.address }} # primary iface ip

### load chains ###
include "/etc/nftables/nftables.chains"
{% if nftables_block_hosts is defined %}

### block hosts ###
include "/etc/nftables/nftables.blocks"
{% endif %}

### load custom ruleset ###
include "/etc/nftables/*.conf"

### load drop rules ###
include "/etc/nftables/nftables.drops"
