### load definitions ###
include "/etc/nftables/nftables.defs"

### load chains ###
include "/etc/nftables/nftables.chains"
{% if nftables_block_hosts is defined %}

### block hosts ###
include "/etc/nftables/nftables.blocks"
{% endif %}

### load custom ruleset ###
include "/etc/nftables/*.conf"

### load drop rules ###
include "/etc/nftables/nftables.drops"
