# default reject rfc1918 in
add rule ip filter IN_REJ counter log prefix "FW-IR: "
add rule ip filter IN_REJ counter reject
add rule ip filter INPUT ip saddr $RFC1918 ct state new counter jump IN_REJ

# default drop rfc1918 fwd
add rule ip filter FWD_REJ counter log prefix "FW-FR: "
add rule ip filter FWD_REJ counter reject
add rule ip filter FORWARD ip saddr $RFC1918 ct state new counter jump FWD_REJ

# default reject outbound (new)
add rule ip filter OUT_REJ counter log prefix "FW-OR: "
add rule ip filter OUT_REJ counter reject
add rule ip filter OUTPUT ct state new counter jump OUT_REJ

# default drop everything else
add rule ip filter INPUT counter log prefix "FW-ID: "
add rule ip filter INPUT counter drop
add rule ip filter FORWARD counter log prefix "FW-FD: "
add rule ip filter FORWARD counter drop
add rule ip filter OUTPUT counter log prefix "FW-OD: "
add rule ip filter OUTPUT counter drop
